@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff; /* Adjust text color for better readability */
    background: linear-gradient(-45deg, #afff5f, #ffb1ea, #91ffe5,  #fff279);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }
  
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .results-title {
    font-family: 'Cute Font', cursive;
    font-size: 5.5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  
  .view-quizzes-button {
    font-family: 'Cute Font', cursive;
    font-size: 1.5rem;
    padding: 10px 15px;
    margin-top: 20px; /* Spacing above the button */
    background-color: #00758d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .view-quizzes-button:hover {
    background-color: #136e7e;
  }
  
  .results-container ol {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  .results-container li {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; 
    font-family: 'Cute Font', cursive;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
    margin: 10px auto; /* Keeps the boxes centered */
    min-width: 350px;
    max-width: 1000px; 
    background-color: #f0f0f0;
    border-radius: 5px;
    color: #0c5958;
    transition: background-color 0.3s;
  }
  
  /* If you want to highlight the winner */
  .results-container li:first-child {
    background-color: #ffe96b; /* Gold color for the first place */
    color: #20546e;
  }
  
  .results-container li .score {
    color: #ff66f5; /* Change the color for the score */
  }
  